*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-image: linear-gradient(to bottom right, rgb(32, 48, 52), rgb(109, 213, 237));
}

#demo{
    margin-top: 100px;
    text-align: center;
}
th{
    background-image: linear-gradient(to top, rgb(183, 169, 169), rgb(176, 23, 79));
}
.capitalize{
    text-transform: capitalize;
}

#title{
    text-align: center;
}
#idd{
    text-align: center;
}
#stat{
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px; 
    background-image: linear-gradient(to bottom right, rgb(11, 55, 43), rgb(43, 227, 233));
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid black;
    text-align:center;
    color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #090909;
  }

  tr:nth-child(odd) {
    background-color: rgb(176, 23, 79);
  }

th {
    background-color: #f2f2f2;
    color: black;
    
}


body{
    background-image:linear-gradient(to bottom left, rgb(32, 48, 52), rgb(109, 213, 237));
    background-image: url(./image/todo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}


